/* tło strony */
body
{
background-color: #00FFFF;
}
div
{
border-radius: 15px;
}
/* zdjecia do skelpu */
.zdjsklep
{
height: 25px;
width: 25px;
}
/* menu (pierwsza sekcja na stronie) */
#menu
{
margin-bottom: -180px;
height: auto;
width: 79%;
margin-left: 10%;
background-color: #00EEEE;
}
/* obrazy */
img
{
padding-left: 10px;
}
/* recenzje (między menu a galerią */
.recenzje
{
height: 400px;
width: 79%;
margin-left: 10%;
background-color: #00EEEE;
}
text
{
margin-left: 200px;
}
/* galeria (ostatnia sekcja) */
.galeria
{
width: 79%;
margin-left: 10%;
margin-top: 20px;
background-color: #00EEEE;
}
h1
{
padding-top: 20px;
text-align: center;
color: #AAFFFF;
}
h2
{
margin-left: 350px;
margin-top: -250px;
bottom: 250px;
}
.ocen
{
border: 1px solid #00DDDD;
position: relative;
margin-left: 350px;
bottom: 275px;
}
th, td
{
padding: 10px;
}
/* zdjęcia do recenzji */
.zdjrec
{
height: 300px;
width: 300px;
}
/* zdjęcia do galerii */
.galeriaimg
{
height: 150px;
width: 150px;
}
.dodat
{
margin-left: 350px;
margin-top: -250px;
text-align: left;
}
/* podstrona z kontaktem */
.kontakt
{
margin-left: 100px;
}
.podstr
{
margin-left: 33%;
}
/* javascript */
.test-block
{
	width: 200px;
	border: 2px solid rgba(71,236,30,1);
	background: rgba(71,236,30,0.7);
	text-align: center;
	color: #000;
	padding: 20px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
